.hover-panel-con {
	max-height: 500px;
	height: 60vh;
	background-color: #000;
	position: relative;
	transition: 0.3s ease-in-out;
	&:hover {
		.hover-panel-wrap {
			h1 {
				cursor: pointer;
			}
		}
		// .red-block {
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: center;
		// 	padding: $primarySectionPadding;
		// 	z-index: 222;
		// 	animation-name: redBlockAnim;
		// 	animation-timing-function: ease-in-out;
		// 	animation-duration: 0.5s;
		// 	animation-iteration-count: once;
		// }
	}
	.red-block {
		width: 100%;
		// background: rgb(128, 33, 27);
		// background: linear-gradient(90deg, rgba(128, 33, 27, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $primarySectionPadding;
		animation-name: redBlockAnim;
		animation-timing-function: ease-in-out;
		animation-duration: 0.5s;
		animation-iteration-count: once;
		.block-wrap {
			width: 100%;
			display: flex;
			flex-direction: row;
			height: 100%;
		}
	}
}
@keyframes redBlockAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hover-content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	h1 {
		font-size: 3.5vw;
		transition: 0.3s ease-in-out;
		span {
			font-size: 5.5vw;
			display: inline-block;
			margin-right: 10px;
			color: #000;
			-webkit-text-stroke: 2px #fff;
		}
	}
}
.width95 {
	width: 80%;
	height: 250px;
	transition: 0.3s ease-in-out;
	border-radius: 10px;
	background-color: rgba(82, 135, 164, 0.3);
	backdrop-filter: blur(5px);
	margin-right: 20px;
	transition: 0.5s ease-in-out;
	padding: $primaryCardPadding;
	box-shadow: 0 0 10px #fff;
	&:hover {
		cursor: pointer;
	}
}
.width5 {
	width: 20%;
	height: 100px;
	transition: ease-in-out;
	border-radius: 10px;
	background-color: rgba(82, 135, 164, 0.25);
	backdrop-filter: blur(5px);
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s ease-in-out;
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 10px #fff;
	}
	img {
		width: 64px;
	}
}
.information-wrap {
	animation-name: opacityAnimate;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: once;
	h1 {
		font-size: 2vw;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.2vw;
		margin-bottom: 20px;
	}
	button {
		@include RedBtn;
	}
}
@keyframes opacityAnimate {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.displayNone {
	display: none;
}
.maxHeight350 {
	max-height: 300px;
	height: 25vh;
	transition: 0.5s ease-in-out;
	.hover-panel-wrap {
		.hover-content-wrap {
			h1 {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
