.navbar-con {
	@include FlexRowSpaceBTW;
	padding: $primaryNavbarPadding;
	background: #000;
	.navbar-hire-btn-wrap {
		max-width: 20vw;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		button {
			@include RedBtn;
		}
	}
	.navbar-logo-wrap {
		max-width: 8vw;
		width: 100%;
	}
	.navabr-contact-wrap {
		max-width: 20vw;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		button {
			@include BlueBtn;
		}
	}
}
