@import './fonts.scss';
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #000 !important;
	color: #fff;
	background-image: url('../public/images/home-bg.png');
	background-position: bottom left;
	background-size: contain;
	background-repeat: no-repeat;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-size: 10px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
@mixin FlexRowSpaceBTW {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@mixin BlueBtn {
	width: 15vw;
	background-color: rgba(82, 135, 164, 1);
	text-transform: uppercase;
	padding: $primaryBtnPadding;
	font-size: 1.1vw;
	color: #fff;
	transition: 0.3s ease-in-out;
	border: 1px solid rgba(82, 135, 164, 1);
	border-radius: 5px;
	&:hover {
		cursor: pointer;
		background-color: transparent;
		color: #fff;
		border: 1px solid rgba(82, 135, 164, 1);
		border-radius: 10px;
	}
}
@mixin RedBtn {
	width: 15vw;
	background-color: rgba(128, 33, 27, 1);
	text-transform: uppercase;
	padding: $primaryBtnPadding;
	font-size: 1.1vw;
	color: #fff;
	transition: 0.3s ease-in-out;
	border: 1px solid rgba(128, 33, 27, 1);
	border-radius: 5px;
	&:hover {
		cursor: pointer;
		background-color: transparent;
		color: #fff;
		border: 1px solid rgba(128, 33, 27, 1);
		border-radius: 10px;
	}
}
$primaryNavbarPadding: 15px 70px;
$primaryUpperNavbarPadding: 30px 70px;
$primaryBtnPadding: 5px 15px;
$primarySectionPadding: 40px 70px;
$primaryCardPadding: 20px;
.footer-main {
	padding: $primarySectionPadding;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	box-shadow: 0px -1px 10px #fff;
	.footer-wrap {
		display: flex;
		justify-content: space-between;
		.client {
			@include RedBtn;
		}
		.staff {
			@include BlueBtn;
		}
		.partner {
			@include BlueBtn;
			background-color: #fff;
			color: #000;
		}
	}
}
@import './components/navbar.scss';
@import './components/upperLinks.scss';
@import './components/brand.scss';
@import './components/panel.scss';
@import './components/marketing.scss';
@import './components/promotional.scss';
@import './components/webapps.scss';
@import './components/consulting.scss';
@import './components/design.scss';
@import './components/hoverPanel.scss';
@import './components/homeHero.scss';
